p { 
text-align: center; 
color: rgb(199, 99, 17); 
} 
 
body { 
background: rgb(152, 12, 180); 
font-family: Arial, Helvetica, sans-serif; 
} 
 
#header { 
color: rgb(128, 68, 0); 
} 
 
.about { 
text-align: center; 
color: rgb(183, 0, 255); 
} 
 
.projects { 
background: #00b3d1; 
} 
 
.left { 
text-align: left; 
} 
 
.green { 
color: green; 
} 
 
.attention { 
font-weight: bold; 
} 